main{
  height: 88vh;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60rem;
  margin-inline: auto;
  min-height: 100%;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo{
  margin-right: auto;
  padding-inline: 1rem;
}

.nav-links a{
 padding: 1rem;
}

.features-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.feature{
  max-width: 16rem;
  text-align: center;
}

.feature img{
  width: 100%;
}